.App {
  text-align: center;
  margin-bottom: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 50px;
  background-color: #c6f151;
  text-align: left;
  padding-left: 10px;
  font-size: 32px;
  font-weight: bold;
}

.cart {
  position: absolute;
  right: 10px;
  top: 10px;
}

.item-list {
  padding-top: 100px;
  padding-bottom: 50px;
}

.list {
  width: 100%;
}

.list > thead > tr {
  background-color: #efdbce;
}

.list > tbody > tr {
  background-color: antiquewhite;
}

.list-table {
  margin:0 40px;
}

.amount {
  width: 30px;
}

.btn {
  border: 1px solid #999;
  padding: 10px 20px;
}

.payment {
  margin-bottom: 20px;
}

.cart-add , .del {
  font-size: 32px;
  cursor: pointer;
}

.cart-count {
  border: 1px solid red;
    border-radius: 20px;
    font-size: 10px;
    background: red;
    color: #fff;

    position: absolute;
    top: 0;
    left: 13px;
    width: 20px;
}

.summary {
  width: 300px;
  float: right;
  text-align: right;
  clear: both;
}